<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2> particular comment</h2>
    <h3> id: <%= foundComment.id %> </h3>
    <h3> name: <%= foundComment.userName  %></h3>
    <h3> comment: <%= foundComment.comment %></h3>
</body>
</html>